In [35]:
for i in range(0,15):
  if i==8:
    continue
  print(i)

0
1
2
3
4
5
6
7
9
10
11
12
13
14

In [ ]:
## break and continue only exit from the immediate loops

In [5]:
for i in range(0,5):
  for j  in range(2,6):
    print(i,j)
    if j==5:
      break

0 2
0 3
0 4
0 5
1 2
1 3
1 4
1 5
2 2
2 3
2 4
2 5
3 2
3 3
3 4
3 5
4 2
4 3
4 4
4 5

In [6]:
for i in range(0,5):
  for j in range(1,5):
    if j==4:
      continue
    print(i,j)

0 1
0 2
0 3
1 1
1 2
1 3
2 1
2 2
2 3
3 1
3 2
3 3
4 1
4 2
4 3

In [7]:
for i in range(1,5):
  for j in range(1,5):
    if i==2:
      continue
    else:
      print(i,j)

1 1
1 2
1 3
1 4
3 1
3 2
3 3
3 4
4 1
4 2
4 3
4 4

In [8]:
row=7
for i in range(1,row+1):
  print(" "*(row-i)+i*"*")

      *
     **
    ***
   ****
  *****
 ******
*******

In [37]:
row=7
for i in range(1,row-1):
  print(""*(row+i)+i*"*")

*
**
***
****
*****

In [42]:
rows = 5
for i in range(rows):
  for j in range(rows-i-1):
    print(" ",end="")
  for k in range(2*i+1):
    print("*",end="")
  print()

    *
   ***
  *****
 *******
*********

In [16]:
for i in range(1,7):
  print(" "*(7-i)+"*"*i)

      *
     **
    ***
   ****
  *****
 ******

In [ ]:
### binary pattern program

In [ ]:
0
10
010
1010
01010

In [ ]:
for i in range(1,6):
  for j in range(1,i+1):
    print((i+j)%2,end=" ")
  print()

0
1 0
0 1 0
1 0 1 0
0 1 0 1 0

In [33]:
for i in range(1,9):
  for j in range(1,9-i):
    print((j+i)%2,end=" ")
  print()

0 1 0 1 0 1 0
1 0 1 0 1 0
0 1 0 1 0
1 0 1 0
0 1 0
1 0
0

In [29]:
for i in range(0,6):
  for j in range(1,6-i):
    print((j+i)%2,end=" ")
  print()

1 0 1 0 1
0 1 0 1
1 0 1
0 1
1

In [ ]:
### Inverted number traingle

In [ ]:
1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

In [27]:
row=6
for i in range(1,row):
  for j in range(1,i+1):
    print(j,end=" ")
  print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [24]:
row=7
for i in range(1,row):
  for j in range(1,row-i):
    print(j,end=" ")
  print()

1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

In [ ]:
### Checker board pattern

In [ ]:
for i in range(1,6):
  for j in range(1,6):
    print((i+j)%2,end=" ")
  print()

0 1 0 1 0
1 0 1 0 1
0 1 0 1 0
1 0 1 0 1
0 1 0 1 0